<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-avatar slot="start">
      <img [src]="conversa.foto" />
    </ion-avatar>

    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="call"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="videocam"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title> 
      <p>
        {{ conversa.nome }}
      </p> 
      <p> 
        {{ conversa.ultimaMensagem }}
      </p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-list>
    <ion-item *ngFor="let mensagem of mensagens" >
      {{ mensagem }}
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-input placeholder="Digite aqui ..." #campoTexto ></ion-input>
      <ion-buttons slot="end">
        <ion-button (click)="enviarMensagem(campoTexto)" >
          <ion-icon slot="icon-only" name="send"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-footer>