<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-avatar slot="start">
      <img [src]="conversa.foto" />
    </ion-avatar>

    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="call"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="videocam"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <h3>
        {{ conversa.nome }}
      </h3>
      <p>
        {{ conversa.ultimaMensagem }}
      </p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list> 
    <ion-item *ngFor="let mensagem of mensagens">
      {{ mensagem }}
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-item>
      <ion-buttons>
        <ion-button (click)="enviarMensagem(campoTexto)" item-start>
          <ion-icon slot="icon-only" name="happy"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-input placeholder="Digite aqui ..." #campoTexto></ion-input>
      <ion-buttons>
        <ion-button (click)="enviarMensagem(campoTexto)" item-end>
          <ion-icon slot="icon-only" name="attach"></ion-icon>
        </ion-button>
        <ion-button (click)="enviarMensagem(campoTexto)" item-end>
          <ion-icon slot="icon-only" name="camera"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-footer>
