<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input type="password" [(ngModel)]="senha"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="registrar()"  >registrar</ion-button>
  <ion-button expand="block" (click)="logar()" >entrar</ion-button>
  <ion-button expand="block" (click)="sair()">sair</ion-button>

  {{ usuario| async | json }}
  <br/>

  <div id="colecao">
    <div *ngFor="let item of colecaoFirebase" >
      <p style="font-size: 26px">
        {{ item.payload.doc.id  }}
        {{ item.payload.doc.data().nome  }}
        {{ item.payload.doc.data().disciplina  }}
        {{ item.payload.doc.data().nota  }}
      </p>
      <button type="button" (click)="atualizar(item)">Atualizar</button> 
      <button type="button" (click)="delete(item.payload.doc.id)">Apagar</button> 
    </div>
  </div>

</ion-content>
