<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="usuario.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input type="password" [(ngModel)]="usuario.senha"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="registrar()"  >registrar</ion-button>
  <ion-button expand="block">entrar</ion-button>
  <ion-button expand="block">sair</ion-button>

</ion-content>
