ion-segment-button {
  --background: #295c55;
  --background-checked: #295c55;
  --background-hover: #25534d;
  --color: #71a29c;
  --color-activated: #ffffff;
  --color-checked: #ffffff;
}

#data{
  position: absolute;
  right: 1%;
  font-size: 12px;
  bottom: 50%;
}

ion-badge{
  position: absolute;
  right: 1%;
  bottom: 17%;
}