<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button (click)="irParaPaginaPesquisa()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="exibirMenuOpcoes($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>WhatSupp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [value]="paginaAtiva" (ionChange)="trocouSegmento($event)">
    <ion-segment-button value="conversas">
      <ion-label><strong>Conversas</strong></ion-label>
    </ion-segment-button>
    <ion-segment-button value="status">
      <ion-label><strong>Status</strong></ion-label>
    </ion-segment-button>
    <ion-segment-button value="chamadas">
      <ion-label><strong>Chamadas</strong></ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="deveExibirPaginaConversas()">
    <ion-list>
      <ion-item *ngFor="let i of conversas">
        <ion-avatar slot="start" (click)="exibirOpcoesContato(i)">
          <img [src]="i.foto" />
        </ion-avatar>
        <ion-label>
          <h2>
            <strong>{{ i.nome }} </strong>
          </h2>
          <p>
            <ion-icon
              slot="icon-only"
              [name]="verificarIcone(i)"
              [color]="verificarCor(i)"
              *ngIf="!deveEsconderIconeEnvio(i)"
            ></ion-icon>
            {{ i.ultimaMensagem }}
          </p>
        </ion-label>
        <p id="data">{{ i.ultimaHora | date: "dd/MM/yyyy" }}</p>
        <ion-badge *ngIf="i.qtdMensagensNaoLidas > 0">
          {{ i.qtdMensagensNaoLidas }}
        </ion-badge>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="deveExibirPaginaStatus()">
    texto dos status
  </div>

  <div *ngIf="deveExibirPaginaChamadas()">
    texto das chamadas
  </div>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    (click)="irParaPaginaContatos()"
  >
    <ion-fab-button>
      <ion-icon name="text"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
